
<html>
  <head>
    <title>MANAGER</title>
  </head>
  <body>
    <h1>ADD DATA</h1>
    <form method="POST" action="/admin/insertair">
      <table border="0">
        <tr>
          <th><label for="address">Vị trí quan trắc:</label></th> 
          <td><input type="text" id="address" name="address"></td>
        </tr>
        <tr>
          <th><label for="latitude">Vĩ độ:</label></th>
          <td><input type="number" id="latitude" name="latitude"></td>
        </tr>
        <tr>  
          <th><label for="longitude">Kinh độ:</label></th>
          <td><input type="number" id="longitude" name="longitude"></td>
        </tr>
        <tr> 
          <th><label for="wind_degree">Nhiệt độ:</label></th>
          <td><input type="number" id="wind_degree" name="wind_degree"></td>
        </tr> 
        <tr>
          <th><label for="humidity">Độ ẩm:</label></th>
          <td><input type="number" id="humidity" name="humidity"></td>
        </tr>
        <tr>
          <th><label for="wind_speed">Tốc độ gió:</label></th>
          <td><input type="number" id="wind_speed" name="wind_speed"></td>
        </tr>
        <tr>
          <th><label for="wind_direction">Hướng gió:</label></th>
          <td><input type="text" id="wind_direction" name="wind_direction"></td>
        </tr>  
        <tr>
          <th><label for="pressure">Áp suất:</label></th>
          <td><input type="number" id="pressure" name="pressure"></td>
        </tr>
        <tr>
          <th><label for="wind_dust">Bụi tổng số:</label></th>
          <td><input type="number" id="wind_dust" name="wind_dust"></td>
        </tr>
        <tr>
          <th><label for="sulfur_dioxide">SO2:</label></th>
          <td><input type="number" id="sulfur_dioxide" name="sulfur_dioxide"></td>
        </tr>
        <tr>
          <th><label for="carbon_monoxide">CO:</label>
          <td><input type="number" id="carbon_monoxide" name="carbon_monoxide"></td>
        </tr>
        <tr>  
          <th><label for="nito_dioxit">NO2:</label>
          <td><input type="text" id="nito_dioxit" name="nito_dioxit"></td>
        </tr>
        <tr>
          <th><label for="equivalent_noise">Tiếng ồn tương đương:</label>
          <td><input type="number" id="equivalent_noise" name="equivalent_noise"></td>
        </tr>
        <tr>
          <th><label for="extreme_noise">Tiếng ồn cực đại:</label></th>
          <td><input type="number" id="extreme_noise" name="extreme_noise"></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><button type="submit">Thêm mới</button></td>
        </tr>
      </table>
    </form>


    <h1>GET ALL</h1>
    <table border="1">
      <thead>
        <tr>
          <th>STT</th>
          <th>Vị trí quan trắc</th>
          <th>Vĩ độ</th>
          <th>Kinh độ</th>
          <th>Ngày lấy mẫu</th>
          <th>Nhiệt độ</th>
          <th>Độ ẩm</th>
          <th>Tốc độ gió</th>
          <th>Áp suất</th>
          <th>Bụi tổng số</th>
          <th>SO2</th>
          <th>CO</th>
          <th>NO2</th>
          <th>Tiếng ồn tương đương</th>
          <th>Tiếng ồn cực đại</th>
          <th>Mức độ ô nhiễm</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <% airs.forEach(function(data, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= data.location.address %></td>
            <td><%= data.location.latitude %></td>
            <td><%= data.location.longitude %></td>
            <td><%= data.date %></td>
            <td><%= data.wind_degree %></td>
            <td><%= data.humidity %></td>
            <td><%= data.wind_speed %></td>
            <td><%= data.pressure %></td>
            <td><%= data.wind_dust %></td>
            <td><%= data.sulfur_dioxide %></td>
            <td><%= data.carbon_monoxide %></td>
            <td><%= data.nito_dioxit %></td>
            <td><%= data.equivalent_noise %></td>
            <td><%= data.extreme_noise %></td>
            <td><%= data.result %></td>
            <td>
				        <form method="GET" action="/admin/deleteoneair/<%= data._id %>">
                    <button type="submit">Xóa</button>
                </form>
                <form method="GET" action="/admin/updateoneair/<%= data._id %>">
                    <button type="submit">Sửa</button>
                </form>
			</td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>