<html>
  <head>
    <title>MANAGER</title>
  </head>
  <body>
    <h1>ADD DATA</h1>
    <form method="POST" action="/admin/insertwater">
      <table border="0">
        <tr>
          <th><label for="address">Vị trí quan trắc:</label></th> 
          <td><input type="text" id="address" name="address"></td>
        </tr>
        <tr>
          <th><label for="latitude">Vĩ độ:</label></th>
          <td><input type="number" id="latitude" name="latitude"></td>
        </tr>
        <tr>  
          <th><label for="longitude">Kinh độ:</label></th>
          <td><input type="number" id="longitude" name="longitude"></td>
        </tr>
        <tr> 
          <th><label for="pH">pH:</label></th>
          <td><input type="number" id="pH" name="pH"></td>
        </tr> 
        <tr>
          <th><label for="degree">Nhiệt độ:</label></th>
          <td><input type="number" id="degree" name="degree"></td>
        </tr>
        <tr>
          <th><label for="DO">DO:</label></th>
          <td><input type="number" id="DO" name="DO"></td>
        </tr>  
        <tr>
          <th><label for="EC">EC:</label></th>
          <td><input type="number" id="EC" name="EC"></td>
        </tr>
        <tr>
          <th><label for="TDS">TDS:</label></th>
          <td><input type="number" id="TDS" name="TDS"></td>
        </tr>
        <tr>
          <th><label for="SS">SS:</label></th>
          <td><input type="number" id="SS" name="SS"></td>
        </tr>
        <tr>
          <th><label for="BOD5">BOD5:</label>
          <td><input type="number" id="BOD5" name="BOD5"></td>
        </tr>
        <tr>
          <th><label for="COD">COD:</label>
          <td><input type="text" id="COD" name="COD"></td>
        </tr>
        <tr>
          <th><label for="NO2">NO2-:</label>
          <td><input type="number" id="NO2" name="NO2"></td>
        </tr>
        <tr>
          <th><label for="NO3">NO3-:</label></th>
          <td><input type="number" id="NO3" name="NO3"></td>
        </tr>
        <tr>
          <th><label for="NH4">NH4+:</label>
          <td><input type="text" id="NH4" name="NH4"></td>
        </tr>
        <tr>
          <th><label for="P3O4">PO43-:</label>
          <td><input type="number" id="P3O4" name="P3O4"></td>
        </tr>
        <tr>
          <th><label for="Coliform">Coliform:</label></th>
          <td><input type="number" id="Coliform" name="Coliform"></td>
        </tr>
        <tr>
          <th><label for="Oil">Dầu mỡ:</label></th>
          <td><input type="number" id="Oil" name="Oil"></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><button type="submit">Thêm mới</button></td>
        </tr>
      </table>
    </form>


    <h1>GET ALL</h1>
    <table border="1">
      <thead>
        <tr>
          <th>STT</th>
          <th>Vị trí quan trắc</th>
          <th>Vĩ độ</th>
          <th>Kinh độ</th>
          <th>Ngày lấy mẫu</th>
          <th>pH</th>
          <th>Nhiệt độ</th>
          <th>DO</th>
          <th>EC</th>
          <th>TDS</th>
          <th>SS</th>
          <th>BOD5</th>
          <th>COD</th>
          <th>NO2-</th>
          <th>NO3-</th>
          <th>NH4+</th>
          <th>PO43-</th>
          <th>Coliform</th>
          <th>Dầu mỡ</th>
          <th>Mức độ ô nhiễm</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <% Waters.forEach(function(data, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= data.location.address %></td>
            <td><%= data.location.latitude %></td>
            <td><%= data.location.longitude %></td>
            <td><%= data.date %></td>
            <td><%= data.pH %></td>
            <td><%= data.degree %></td>
            <td><%= data.DO%></td>
            <td><%= data.EC %></td>
            <td><%= data.TDS %></td>
            <td><%= data.SS %></td>
            <td><%= data.BOD5 %></td>
            <td><%= data.COD %></td>
            <td><%= data.NO2 %></td>
            <td><%= data.NO3 %></td>
            <td><%= data.NH4 %></td>
            <td><%= data.P3O4 %></td>
            <td><%= data.Coliform %></td>
            <td><%= data.Oil %></td>
            <td><%= data.result %></td>
            <td>
				        <form method="GET" action="/admin/deleteonewater/<%= data._id %>">
                    <button type="submit">Xóa</button>
                </form>
                <form method="GET" action="/admin/deleteonewater/<%= data._id %>">
                    <button type="submit">Sửa</button>
                </form>
			</td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>