<html>
  <head>
    <title>GET ALL</title>
  </head>
  <body>
    <h1>GET ALL</h1>
    <table border="1">
      <thead>
        <tr>
          <th>STT</th>
          <th>Vị trí quan trắc</th>
          <th>Vĩ độ</th>
          <th>Kinh độ</th>
          <th>Ngày lấy mẫu</th>
          <th>Nhiệt độ</th>
          <th>Độ ẩm</th>
          <th>Tốc độ gió</th>
          <th>Áp suất</th>
          <th>Bụi tổng số</th>
          <th>SO2</th>
          <th>CO</th>
          <th>NO2</th>
          <th>Tiếng ồn tương đương</th>
          <th>Tiếng ồn cực đại</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <% allData.forEach(function(data, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= data.location.address %></td>
            <td><%= data.location.latitude %></td>
            <td><%= data.location.longitude %></td>
            <td><%= data.date %></td>
            <td><%= data.wind_degree %></td>
            <td><%= data.humidity %></td>
            <td><%= data.wind_speed %></td>
            <td><%= data.pressure %></td>
            <td><%= data.wind_dust %></td>
            <td><%= data.sulfur_dioxide %></td>
            <td><%= data.carbon_monoxide %></td>
            <td><%= data.nito_dioxit %></td>
            <td><%= data.equivalent_noise %></td>
            <td><%= data.extreme_noise %></td>
            <td>
				<form action="/deleteone/<%= data._id %>" method="POST">
                    <button type="submit">Xóa</button>
                </form>
                <form action="/update/<%= data._id %>" method="GET">
                    <button type="submit">Sửa</button>
                </form>
			</td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>