<% 
const DESCRIPTION = locals.description;
const TITLE = locals.title;
// directory location starting from file main.ejs
const CSS_REQUIRED = '../pages/page_resources/' + locals.page_resource + '/_css';
const SCRIPT_REQUIRED = '../pages/page_resources/' + locals.page_resource + '/_script';
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" /> <!-- title icon -->
    <meta name="description" content="<%= DESCRIPTION %>">
    <title><%= TITLE %></title>
    <%- include(CSS_REQUIRED); -%>
  </head>

  <body id="main-container" class="default">
    <!-- START: Pre Loader-->
    <%- include('../partials/_pre-loader'); -%>
    <!-- END: Pre Loader-->

    <!-- START: Header-->
    <%- include('../partials/_header'); -%>
    <!-- END: Header-->

    <!-- START: Sidebar-->
    <%- include('../partials/_sidebar'); -%>
    <!-- END: Sidebar-->

    <!-- START: Main Content-->
    <main>
      <div class="container-fluid site-width">
        <!-- START: Sidebar-->
        <div class="row"><%- include('../partials/_breadcrumb'); -%></div>
        <!-- END: Sidebar-->

        <!-- START: Card Data-->
        <div class="row"><%- body %></div>
        <!-- END: Card DATA-->
      </div>
    </main>
    <!-- END: Content-->

    <!-- START: Footer-->
    <%- include('../partials/_footer'); -%>
    <!-- END: Footer-->

    <!-- START: Back to top-->
    <%- include('../partials/_back-to-top'); -%>
    <!-- END: Back to top-->
  </body>
  <%- include(SCRIPT_REQUIRED); -%>
</html>
