<!-- STATS -->
<div class="row">
  <div class="col-12 col-sm-6 col-xl-4 mt-3">
    <div class="card">
      <div class="card-body text-info border-bottom border-info border-w-5">
        <h2 class="text-center"><%= data.total_location %></h2>
        <h6 class="text-center">Điểm lấy mẫu</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mt-3">
    <div class="card">
      <div class="card-body text-success border-bottom border-success border-w-5">
        <h2 class="text-center">3</h2>
        <h6 class="text-center">Loại chỉ số quan trắc</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mt-3">
    <div class="card">
      <div class="card-body text-warning border-bottom border-warning border-w-5">
        <h2 class="text-center">6</h2>
        <h6 class="text-center">Cấp độ ảnh hưởng</h6>
      </div>
    </div>
  </div>
</div>

<!-- CHART -->
<div class="row">
  <!-- Chart -->
  <div class="col-12 col-md-12 mt-3">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Lựa chọn hiển thị</h6>
        <div class="row">
          <div class="col-12 col-md-6 mt-3">
            <select id="location-choices">
              <option value="avg_all_location_in_state" selected>Trung bình toàn khu vực tỉnh Hà Nam</option>
              <% for(let i=0; i < data.all_unique_locations.length; i++) { %>
                <option value="<%= data.all_unique_locations[i].latitude %>_<%= data.all_unique_locations[i].longitude %>">
                  <%= data.all_unique_locations[i].address %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="col-12 col-md-2 mt-3">
            <select id="measured-choices">
              <option value="tsp" selected>TSP</option>
              <option value="so2">NO2</option>
              <option value="no2">SO2</option>
            </select>
          </div>
          <div class="col-12 col-md-2 mt-3">
            <select id="year-choices">
              <option value="<%= data.current_year %>" selected>Năm <%= data.current_year %>
              </option>
              <% for(let i=1; i < data.unique_years.length; i++) { %>
                <option value="<%= data.unique_years[i] %>">
                  Năm <%= data.unique_years[i] %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="col-12 col-md-2 mt-3">
            <select id="daterange-choices">
              <option value="all_month_in_year" selected>Dữ liệu 12 tháng</option>
              <option value="all_day_in_month">Dữ liệu từng tháng</option>
            </select>
          </div>
          <div class="col-12 col-md-2 mt-3">
            <select id="month-choices">
              <option value="1" selected>Tháng 1</option>
              <% for(let i=2; i < 13; i++) { %>
              <option value="<%= i %>">
                Tháng <%= i %>
              </option>
              <% } %>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <span class="badge badge-color-p1">Tốt</span>
          <span class="badge badge-color-p2">Trung bình</span>
          <span class="badge badge-color-p3">Không lành mạnh cho người nhạy cảm</span>
          <span class="badge badge-color-p4">Không lành mạnh</span>
          <span class="badge badge-color-p5">Rất không lành mạnh</span>
          <span class="badge badge-color-p6">Nguy hiểm</span>
        </div>
        <div id="e-basic-bar" class="height-400"></div>
      </div>
    </div>
  </div>
</div>